{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}


{% block content%}
<div class="d-flex">
    <section class="w-50"">
            <div class=" container-m p-3 bg-dark m-auto mt-5 rounded">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="display-block mb-12">
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-warning mb-3 w-100" value="Encode" />
            </form>
            </div>
    </section>
    <section class="w-50 d-flex flex-wrap justify-content-center">
        {% for message in messages %}
        <div style="height: fit-content;" class="w-50 mt-5 mx-2 bg-dark text-light rounded d-flex flex-column">
            <p class="p-2 text-center text-break">{{message.original_message}}</p>
            <p class="text-center text-dark bg-warning">{{message.key}}</p>
            <p class="text-center text-dark bg-warning">{{message.method}}</p>
            <p class="m-2 text-center text-break">{{ message.encoded_message }}</p>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}