{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content%}
    <section class="rounded border border-2 border-dark p-2 d-flex w-25 mt-5 ms-5 justify-content-between">
        <p class="align-self-center m-0">ADFG(V)X cript algorithm</p>
        <a href="adfgx/encode" class="btn btn-warning ">Encode</a>
        <a href="adfgx/decode" class="btn btn-warning ">Decode</a>
    </section>
    <section class="rounded border border-2 border-dark p-2 d-flex w-25 mt-5 ms-5 justify-content-between">
        <a href="playfair/encode" class="btn btn-info ">Encode</a>
        <a href="playfair/decode" class="btn btn-info ">Decode</a>
        <p class="align-self-center m-0">Playfair cript algorithm</p>
    </section>
    <section class="rounded border border-2 border-dark p-2 d-flex w-25 mt-5 ms-5 justify-content-between">
        <p class="align-self-center m-0">Salsa algorithm</p>
        <a href="salsa/encode" class="btn btn-success ">Encode</a>
        <a href="salsa/decode" class="btn btn-success ">Decode</a>
    </section>
    <section class="rounded border border-2 border-dark p-2 d-flex w-25 mt-5 ms-5 justify-content-between">
        <a href="des/encode" class="btn btn-secondary ">Encode</a>
        <a href="des/decode" class="btn btn-secondary ">Decode</a>
        <p class="align-self-center m-0">Des cript algorithm</p>
    </section>
{% endblock %}
