{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}


{% block content%}
<div class="d-flex">
    <section class="w-50"">
            <div class="container-m p-2 bg-dark m-auto mt-5 rounded w-25">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="display-block mb-2">
                    {{ field }}
                </div>
                {% endfor %}
                <input type="submit" class="btn {{ color }} w-100" value="{{ type }}" />
            </form>
            </div>
    </section>
    <section class="w-50 d-flex flex-wrap justify-content-center">
        {% for message in messages %}
        <div style="height: fit-content;" class="w-50 mt-5 mx-2 bg-dark text-light rounded d-flex flex-column">
            <p class="m-2 text-center text-break">{{ message.original_message }}</p>
            <p class="m-0 text-center text-dark {{ color }}">{{message.key}}</p>
            {% if message.method %}
                <p class="m-0 text-center text-dark {{ color }}">{{message.method}}</p>
            {% endif %}
            <p class="m-0 p-2 text-center text-break">{{message.encoded_message}}</p>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}